<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535801431601-bmvcjin3jo360amljaq1bbnia76ikcfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535801431601-bmvcjin3jo360amljaq1bbnia76ikcfh</string>
	<key>API_KEY</key>
	<string>AIzaSyBHcf59azl2d0C1TAa9DR4l7v5XYoz0Gmw</string>
	<key>GCM_SENDER_ID</key>
	<string>535801431601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airHub</string>
	<key>PROJECT_ID</key>
	<string>air-hub-4a86a</string>
	<key>STORAGE_BUCKET</key>
	<string>air-hub-4a86a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535801431601:ios:fe0e1f8ae93c490524f710</string>
	<key>DATABASE_URL</key>
	<string>https://air-hub-4a86a-default-rtdb.firebaseio.com</string>
</dict>
</plist>